.form-habilidades {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;

    border: 4px solid #137fd9;
    background-color: #1380d913;;
    margin: 15px;
    border-radius: 16px;
}

.input-habilidad {
    height: 40px;
    width: 200px;
    border: none;
    border-top: 2px solid #1380d98e;
    border-bottom: 2px solid #1380d98e;
}
.input-cargar{
    background-color: #137fd9;
    border: none;
    height: 40px;
    width: 70px;
    border-radius: 6px;
    color: white;
}

/* .input-cargar{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: blueviolet;
    color: white;
} */

/* .bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
} */

/* .bn632-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
} */

/* .bn632-hover:focus {
    outline: none;
} */

/* .bn632-hover.bn19 {
    background-image: linear-gradient(to right,
            #f5ce62,
            #e43603,
            #fa7199,
            #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
} */


.habilidades-en-db {

    min-height: 10vh;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.tit-hab {
    background-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;

}

.habilidad {
    background-color: #137fd9;
    width: 90%;
    color: white;
    padding: 3px;
    border-radius: 6px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
}

.btn-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}