.form-habilidades{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;

    border: 4px solid blueviolet;
    margin: 15px;
    border-radius: 16px;
}

.input-habilidad{
    height: 40px;
    width: 200px;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.219);
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
}
.input-cargar{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: blueviolet;
    color: white;
}

.habilidades-en-db{
    
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.tit-hab{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;

}

.habilidad{
    background-color: rgb(42, 113, 126);
    width: 90%;
    color: white;
    padding: 3px;
    border-radius: 6px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
}

.btn-delete{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}