.estudiante-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    justify-content: center;
}

.form-estudiante {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    padding: 10px;
    border-radius: 16px;
    margin: 15px 0;
    border: 4px solid #137fd9;
}

.est-text {
    height: 40px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.466);
    border-top: 2px solid #137fd9;
    margin-bottom: 10px;

}

.btn-cargar{
    width: 40%;
    height: 40px;
    border-radius: 6px;
    border: none;
    background-color: #137fd9;
    color: white;
    margin-top: 10px;
} 


/* .bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn19 {
    background-image: linear-gradient(to right,
            #f5ce62,
            #e43603,
            #fa7199,
            #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
} */


.form-estudiante label {
    color: #137fd9;
    font-weight: bold;
}

.texto-recordatorio {

    color: white;
}

.check-habilidades{
    display: flex;
    flex-direction: column;
}
.ini-hab{
    margin: 0;
    background-color: #137fd9;
    color: white;
    margin-top: 10px;
    padding-left: 15px;
}