

.buttons-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.btn-home{
    
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 6px;
   /*  background: -webkit-linear-gradient(rgb(32, 91, 105), rgb(143, 223, 15));
    background: -moz-linear-gradient(rgb(61, 121, 250), rgb(243, 247, 4));
    background: -o-linear-gradient(rgb(40, 61, 147), rgb(15, 197, 48));
    background: linear-gradient(rgb(104, 70, 226), #83bf0a); */
    background-color: #137fd9;
    color: white;
}

.buttons-cont a{
    margin-bottom: 7px;
    width: 90%;
    height: 45px;
    border-radius: 6px;
    
}

.carousel-cont{
    text-shadow: 0px 0px 7px black;
}
.alert-nolog{
    width: 90%;
    height: 80px;
    
    border-radius: 16px;

    border: 4px solid red;
    color: red;
    font-weight: bold;
    margin-bottom: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}