.estudiantes-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}

.estudiante{
    background-color: #137fd9;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 90vw;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1px 0px 5px;
    margin-bottom: 3px;
}
.btn-delete-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}



.skill-listada, .no-skill{
    background-color: #ffc340;
    margin-bottom: 3px;
    
    margin-left: 15px;
    border-radius: 5px;
    padding-left: 5px;
    color: black;
    
}

.no-skill{
    background-color: rgba(255, 136, 0, 0.247);
    color: #137fd9;
}